# 明确标识 SQL 文件
*.sql linguist-language=SQL

# 将文档和数据文件标记为文档，不参与语言统计
*.pdf linguist-documentation
*.key linguist-documentation
*.csv linguist-documentation
*.db linguist-vendored

# 将 notes 和 slides 目录标记为文档
notes/* linguist-documentation
slides/* linguist-documentation